<html>
<body>
<!-- header -->
<header>
  <div class="header-top">
    <div class="logo">
      <a class="logo">サンプルサイト</a>
    </div>
    <ul class="header-social">
      <li class="header-social_item">
        <a href=""><i class="fab fa-facebook-square"></i></a>
      </li>
      <li class="header-social_item">
        <a href=""><i class="fab fa-twitter-square"></i></a>
      </li>
      <li class="header-social_item">
        <a href=""><i class="fab fa-youtube"></i></a>
      </li>
    </ul>
  </div>
  <ul class="nav-list">
    <li class=""><a href="">NEWS</a></li>
    <li class="nav-list-item"><a href="">SHOWS</a></li>
    <li class="nav-list-item"><a href="">DISCOGRAPHY</a></li>
    <li class="nav-list-item"><a href="">PHOTO GALLERY</a></li>
    <li class="nav-list-item"><a href="">CONTACT</a></li>
  </ul>
</header>
<section>
  <div class="top-image">
    <img class="top-image_item" alt="TOP image" src="/assets/top.jpg" >
  </div>
  <div class="main-frame">
    <div class="left-frame">
      <h2>NEWS</h2>
      <div class="left-box">
        <ul>
          <li><a href="">『Welcome To The ROCK SHOW Tour 2020』プレイガイド最速先行開始!! </a></li>
          <li><a href="">『Welcome To The ROCK SHOW Tour 2020』プレイガイド最速先行開始!! </a></li>
          <li><a href="">『Welcome To The ROCK SHOW Tour 2020』プレイガイド最速先行開始!! </a></li>
          <li><a href="">『Welcome To The ROCK SHOW Tour 2020』プレイガイド最速先行開始!! </a></li>
          <li><a href="">『Welcome To The ROCK SHOW Tour 2020』プレイガイド最速先行開始!! </a></li>
        </ul>
        <a class="more-button" href="">NEWS 一覧 <i class="fas fa-chevron-right"></i></a>
      </div>
      <h2>SHOWS</h2>
      <div class="left-box">
        <ul>
          <li><p>2019/12/21(sat)<br>ポルノ超特急＠京都パラスプラザ</p></li>
          <li><p>2019/12/21(sat)<br>ポルノ超特急＠京都パラスプラザ</p></li>
        </ul>
        <a class="more-button" href="">SHOWS 一覧 <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="center-frame">
      <h2>HOT TOPICS</h2>
      <div class="center-box">
        <ul>
          <li><h2 class="article-title">『Welcome To The ROCK SHOW Tour 2020』プレイガイド最速先行開始!!</h2>
            <p>＼TICKET PRESALE／<br/>12時よりプレイガイド最速先行販売開始!!クリスマスまで発売しております！</p></li>
          <li><h2 class="article-title">『Welcome To The ROCK SHOW Tour 2020』プレイガイド最速先行開始!!</h2>
            <p>＼TICKET PRESALE／<br/>12時よりプレイガイド最速先行販売開始!!クリスマスまで発売しております！</p></li>
          <li><h2 class="article-title">『Welcome To The ROCK SHOW Tour 2020』プレイガイド最速先行開始!!</h2>
            <p>＼TICKET PRESALE／<br/>12時よりプレイガイド最速先行販売開始!!クリスマスまで発売しております！</p></li>
        </ul>
        <a class="more-button" href="">HOT TOPICS　一覧 <i class="fas fa-chevron-right"></i></a>
      </div>
    </div>
    <div class="right-frame">
      <h2>動画</h2>
      <div class="right-box">
        <ul>
          <li><a href=""><img alt="youtube image" src="/assets/images/youytube.jpg" class="movie"></a></li>
          <li><a href=""><img alt="youtube image" src="/assets/youytube.jpg" class="movie"></a></li>
        </ul>
      </div>
      <h2>SNS</h2>
      <div class="right-box">
        <ul>
          <li><a href="">Vo Instagram</a></li>
          <li><a href="">Vo Twitter</a></li>
        </ul>
      </div>
    </div>
  </div>

</section>
<!-- サイトの中身部分 -->
<div id="page_top"><a></a></div>
<!-- footer -->
<footer>
  　　<ul class="footer-menu">
  <li>NEWS ｜</li>
  <li>SHOWS ｜</li>
  <li>DISCOGRAPHY ｜</li>
  <li>PHOTO GALLERY ｜</li>
  <li>CONTACT</li>
</ul>
  <p>© All rights reserved by intern.</p>
</footer>
</body>
</html>
